{
    "experiments": [
        {
            "dir_name": "Test1",
            "root_path": "/Users/chris/Documents/SoftwareDev/Python/GMR Analysis Project/TEST/EXP1",
            "normalise": "Power Meter",
            "analysis": "FSR",
            "save_imgs": "False",
            "save_path": "/Users/chris/Documents/SoftwareDev/Python/GMR Analysis Project/TEST/EXP1"
        },
        {
            "dir_name": "Test2",
            "root_path": "/Users/chris/Documents/SoftwareDev/Python/GMR Analysis Project/TEST/EXP2",
            "normalise": "BG",
            "analysis": "Max-Min",
            "save_imgs": "True",
            "save_path": ""
        }
    ]
}